---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=EukknXWR0xFsF9GAO3eSpleQeAKAafDA&location=japan
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Mon, 18 Jan 2021 22:49:49 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"japan"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"","adminArea4Type":"County","adminArea3":"","adminArea3Type":"State","adminArea1":"JP","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A1XAX","geocodeQuality":"COUNTRY","dragPoint":false,"sideOfStreet":"N","linkId":"282934975","unknownInput":"","type":"s","latLng":{"lat":36.652302,"lng":138.192093},"displayLatLng":{"lat":36.652302,"lng":138.192093},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=EukknXWR0xFsF9GAO3eSpleQeAKAafDA&type=map&size=225,160&locations=36.652302,138.192093|marker-sm-50318A-1&scalebar=true&zoom=2&rand=1958652988"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Japan","adminArea5Type":"City","adminArea4":"Luzerne
        County","adminArea4Type":"County","adminArea3":"PA","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geo[...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=f5b04618ae0486fb4657348a951bc44b&exclude=minutely,%20alert&lat=36.652302&lon=138.192093&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":36.6523,"lon":138.1921,"timezone":"Asia/Tokyo","timezone_offset":32400,"current":{"dt":1611010190,"sunrise":1611007035,"sunset":1611043086,"temp":28,"feels_like":21.11,"pressure":1018,"humidity":83,"dew_point":24.03,"uvi":0.23,"clouds":94,"visibility":2684,"wind_speed":4,"wind_deg":99,"wind_gust":13,"weather":[{"id":600,"main":"Snow","description":"light
        snow","icon":"13d"}],"snow":{"1h":0.31}},"hourly":[{"dt":1611007200,"temp":28,"feels_like":20.53,"pressure":1018,"humidity":83,"dew_point":24.03,"uvi":0,"clouds":94,"visibility":2684,"wind_speed":5.01,"wind_deg":1,"weather":[{"id":600,"main":"Snow","description":"light
        snow","icon":"13d"}],"pop":0.76,"snow":{"1h":0.31}},{"dt":1611010800,"temp":26.01,"feels_like":18.9,"pressure":1018,"humidity":88,"dew_point":23.29,"uvi":0.23,"clouds":91,"visibility":3165,"wind_speed":4.27,"wind_deg":348,"weather":[{"id":600,"main":"Snow","description":"light
        snow","icon":"13d"}],"pop":0.74,"snow":{"1h":0.25}},{"dt":1611014400,"temp":27.07,"feels_like":20.26,"pressure":1020,"humidity":90,"dew_point":24.82,"uvi":0.68,"clouds":87,"visibility":9889,"wind_speed":4.05,"wind_deg":335,"weather":[{"id":6[...]
