---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?location=Pueblo,%20CO&open_at=1611095580&term=chinese
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer Etx_WuRo7s_zjlS12xEQr3ci-2gxydVKWxkoAuJ2FtfWdGS-s70BYARAOwBdGTMY-3eJuQBYzMceg7_clvC0pegkmASq6YiEDFMua4cyfOjmo3N0WEGAMJtu-kcGYHYx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ratelimit-Dailylimit:
      - '5000'
      Ratelimit-Remaining:
      - '4972'
      X-Zipkin-Id:
      - 3640f95be68b0c64
      Ratelimit-Resettime:
      - '2021-01-20T00:00:00+00:00'
      X-Routing-Service:
      - routing-main--useast1-5bc6d6966-fq2cc; site=public_api_v3
      X-Proxied:
      - 10-65-147-6-useast1bprod
      X-Extlb:
      - 10-65-147-6-useast1bprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [{"id": "kQxM1xlaZfQmXpKaqMTNnw", "alias": "wonderful-bistro-pueblo",
        "name": "Wonderful Bistro", "image_url": "https://s3-media1.fl.yelpcdn.com/bphoto/EIPRzs68vSrQ_2tCf5pQNw/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/wonderful-bistro-pueblo?adjust_creative=x0Bl030ru4Kjzw_5ZqUtTg&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=x0Bl030ru4Kjzw_5ZqUtTg",
        "review_count": 64, "categories": [{"alias": "chinese", "title": "Chinese"}],
        "rating": 4.0, "coordinates": {"latitude": 38.319366, "longitude": -104.616623},
        "transactions": ["delivery"], "price": "$$", "location": {"address1": "4602
        N Elizabeth St", "address2": "Ste 120", "address3": "", "city": "Pueblo",
        "zip_code": "81008", "country": "US", "state": "CO", "display_address": ["4602
        N Elizabeth St", "Ste 120", "Pueblo, CO 81008"]}, "phone": "+17195440233",
        "display_phone": "(719) 544-0233", "distance": 6632.28027227077}, {"id": "M4MwxQAA58B7ENV8ootI-w",
        "alias": "kans-kitchen-pueblo", "name": "Kan''s Kitchen", "image_url": "https://s3-media2.fl.yelpcdn.com/bphoto/RxBfJ3hjre51jCpXqNlfjA/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/kans-kitchen-pueblo?adjust_creative=x0Bl030ru4Kjzw_5ZqUtTg&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=x0Bl030ru4Kjzw_5ZqUtTg",
        "review_count": 20, "categories": [{"alias": "chinese", "title": "Chinese[...]
